footer {
    color: var(--white-color);
    background: var(--black-color);
    padding: 4rem 0;
    text-align: center;
    font-size: 1.5rem;
  }
  
  footer a {
    text-decoration: underline;
    color: var(--white-color);
  }
  
  footer a:hover {
    color: var(--green-color);
  }
  