:root {
  --white-color: #fff;
  --primary-lightgrey-color: #dadad9;
  --secondary-lightgrey-color: #b5b5b5;
  --primary-grey-color: #929292;
  --secondary-grey-color: #717171;
  --primary-darkgrey-color: #515151;
  --secondary-darkgrey-color: #333;
  --black-color: #000;
  --green-color: #1e9e50;

  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.content {
  width: 90%;
  margin: 0 auto;
}

#projects h2,
#about h2,
#contact h2 {
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-lightgrey-color);
  font-weight: 400;
  font-size: 2rem;
}

@media screen and (min-width: 601px) {
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 993px) {
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
}