:root {
    --white-color: #fff;
    --primary-lightgrey-color: #dadad9;
    --secondary-lightgrey-color: #b5b5b5;
    --primary-grey-color: #929292;
    --secondary-grey-color: #717171;
    --primary-darkgrey-color: #515151;
    --secondary-darkgrey-color: #333;
    --black-color: #000;
  
    font-size: 62.5%;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header {
    padding: 2rem 0 2rem 2rem;
  }
  
  .company-name {
    text-transform: normal;
    letter-spacing: 0.3rem;
    font-weight: 300;
  }
  
  .br {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 500;
  }
  
  .banner {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    position: absolute;
    padding: 1.3rem;
    background: rgba(0, 0, 0, 60%);
  }
  
  .br-box {
    text-transform: uppercase;
    font-size: 4.5rem;
    color: rgba(255, 255, 255, 60%);
  }
  
  .architects {
    display: none;
  }
  
  .architect-image img {
    width: 100%;
  }
  
  .content {
    width: 90%;
    margin: 0 auto;
  }
  
  #projects h2,
  #about h2,
  #contact h2 {
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--primary-lightgrey-color);
    font-weight: 400;
    font-size: 2rem;
  }
  
  .project-images {
    position: relative;
    margin-bottom: 2rem;
  }
  
  .project-images p {
    position: absolute;
    padding: 1.3rem;
    color: var(--white-color);
    background: var(--black-color);
    font-size: 1.6rem;
  }
  
  .project-images img {
    width: 100%;
  }
  
  #about p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .architect img {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .architect h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .architect h4 {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--secondary-grey-color);
  }
  
  .button {
    width: 100%;
    height: 4rem; 
    border: none;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  
  #contact {
    
  }